body {
    background-image: url(../images/backgroundimg.png);
    color: #dddddd;
}

h6 {
    color: #dddddd;
}

.header {
    width: 100%;
    height: 10%;
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 5px 0px;
}

#headertable {
    color: #cccccc;
}

#headerlogoimg {
    height: 100%;
    width: 25%;
    float: right;
    padding: 1%;
}

#charactertable {
    width: 30%;
    height: 30%;
    border-style: ridge;
    border-width: 3px;
    background-color: #333333;
    margin: 5% auto;
}

.playerimgtable {
    width: 90%;
    height: 90%;
}

.no-gutters {
    padding: 1%;
}

#battlebox {
    width: 90%;
    height: 60%;
    border-style: ridge;
    border-width: 3px;
    background-color: #333333;
    margin: 5% auto;
    text-align: center;
    color: #dddddd;
}

#playerimg, #opponentimg {
    height: 100%;
    width: 80%;
}

#arena {
    width: 50%;
    height: 30%;
}

.chosenarena {
    width: 100%;
    height: 100%;
}

#arenatable {
    width: 60%;
    height: 80%;
    border-style: ridge;
    border-width: 3px;
    background-color: #333333;
    margin: 5% auto;
}

.arenaimg {
    width:25%;
    height: 30%;
}

.footer {
    width: 100%;
    height: 5%;
    text-align: center;
    color: #cccccc;
    border-style: solid;
    border-color: #000000;
    border-width: 5px 0px 0px 0px;
}